 @import url('https://fonts.googleapis.com/css2?family=Alegreya&display=swap');
.white{
	color: white;
}


*{
	list-style: none;
  text-decoration: none;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Nunito', sans-serif;
}

body{
		background-image: url("https://cdn.pixabay.com/photo/2016/04/12/22/35/watercolour-1325656_960_720.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		height:	2000px;
}

.wrapper .sidebar{
	background: #455A64;
	position: fixed;
	top: 0;
	left: -225px;
	width: 225px;
	height: 100%;
	transition: all 0.5s ease;
}

.wrapper .sidebar .profile{
	margin-bottom: 30px;
	text-align: center;
}

.wrapper .sidebar .profile img{
	display: block;
	width: 100px;
	height: 100px;
  border-radius: 50%;
	margin: 0 auto;
}

.wrapper .sidebar .profile h3{
	color: #ffffff;
	margin: 10px 0 5px;
}

.wrapper .sidebar .profile p{
	color: rgb(206, 240, 253);
	font-size: 14px;
}

.wrapper .sidebar ul li a{
	display: block;
	padding: 13px 30px;
	border-bottom: 1px solid #455A64;
	color: rgb(241, 237, 237);
	font-size: 16px;
	position: relative;
}

.wrapper .sidebar ul li a .icon{
	color: #dee4ec;
	width: 30px;
	display: inline-block;
}

 

.wrapper .sidebar ul li a:hover,
.wrapper .sidebar ul li a.active{
	color: #455A64; 

	background:white;
    border-right: 2px solid rgb(5, 68, 104);
}

.wrapper .sidebar ul li a:hover .icon,
.wrapper .sidebar ul li a.active .icon{
	color: #455A64;
}

.wrapper .sidebar ul li a:hover:before,
.wrapper .sidebar ul li a.active:before{
 display: block;
}

.wrapper .section{
	width: calc(100% - 225px);
	margin-left: 0;
	transition: all 0.5s ease;
}

.wrapper .section .top_navbar{
	background: #455A64; 
	height: 50%;
	width: 100vw;
	padding:0 30px;
 
}

.wrapper .section .top_navbar .hamburger a{
	font-size: 28px;
	color: #f4fbff;
}

.wrapper .section .top_navbar .hamburger a:hover{
	color: #a2ecff;
}

 .wrapper .section .container{
  margin: 30px;
	background: #455A64;
	padding: 50px;
  justify-content: center;
  align-content: center;
	line-height: 28px;
}




 .wrapper .section .container2{
  margin: 20px;
	background: #455A64;
	/**padding: 50px;**/
  line-height: 28px;
	height: 50%;
	width: 80vw;
	padding:30px 40px;

	}




body.active .wrapper .sidebar{
	left: 0;
}

body.active .wrapper .section{
	margin-left: 225px;
	
		
}

body.active .wrapper .container2{
	width: 80vw;
	max-width: 70%;
}

@media only screen and (max-width: 660px) {
 	
 	body.active .wrapper .section{
	margin-left: 225px;
	width: 30wv;
		
}

	body.active .wrapper .container2{
  width: 50vw;
	max-width: 70%;
	background: #455a6400;

}

}



/**##############################################Aqui as barras**/
.skill {
  margin:30px 0;
}

.skill-info {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 10px;
}

.skill-percentage {
  opacity: 0; 
  transition: opacity 0.6s;
  color: white;
}

.skill-bar-container {
  position: relative;
  width: 100%;
  height: 15px; 
  background-color: #363636;
  overflow: hidden;
}

.skill-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0; 
  background-color: #34e8d7; 
  transition: width 3s cubic-bezier(0.22, 1, 0.36, 1);
}
